<!DOCTYPE html>
<html>
  <head>
    <title>Nekobook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.nocatpicURL = "<%= image_url('fatcat.svg') %>";
      window.shadowcatURL = "<%= image_url('fatcat_shadow.svg') %>";
      window.github = "<%= image_url('github.png') %>";
      window.linkedin = "<%= image_url('linkedin.png')%>";
      window.angellist = "<%= image_url('angellist.png')%>";
      window.newsfeed = "<%= image_url('newsfeed.svg')%>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc3742ba46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
