<!DOCTYPE html>
<html>
  <head>
    <title>Nekobook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.nocatpicURL = "<%= image_url('fatcat.svg') %>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc3742ba46.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
